.tech-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px; /* Adjust the font size as needed */
  }
  
  .tech-icons p {
    margin-top: 10px; /* Adjust spacing if needed */
    font-size: 40px; /* Adjust the text size */
  }
  .skills-section{
    padding-top: 20px;
  }
  .leetcode {
    background-color: darkslategrey;
  }
  
  .codeforces {
    background-color: darkslategrey;
  }
  
  .btn-light {
    background-color: grey;
    color: white;
  }
  